<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.project1.user.dao.UserMapper">
    <insert id="saveUser" parameterType="User">
        INSERT INTO user
        (user.user_id, user.user_password, user.user_name, user.nickname, user.phone_num)
        VALUES (#{userId}, #{userPassword}, #{userName}, #{nickname}, #{phoneNum})
    </insert>

    <select id="getUserByUserId" parameterType="String" resultType="int">
        select count(*)
        from user
        where user_id = #{userId}
        or nickname = #{nickname}
    </select>

    <select id="findUserById" parameterType="String" resultType="String">
        select *
        from user
        where user_id = #{userId}
        and user_password = #{userPassword}
    </select>
</mapper>